:root {
  --primary-page-font: 'Roboto', sans-serif;
  --secondary-page-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #c4c4c4;
  --product-background-color: rgba(47, 48, 58, 0.8);
  --footer-background-color: #2f303a;
  --backdrop-backgraund-color: rgba(0, 0, 0, 0.2);
  --overlay-background-color: rgba(33, 150, 243, 0.9);
  --header-border-color: #ececec;
  --footer-input-border-color: rgba(255, 255, 255, 0.3);
  --modal-input-border-color: rgba(33, 33, 33, 0.2);
  --cards-border-color: #eeeeee;
  --icons-color: #afb1b8;
  --footer-icons-color: rgba(255, 255, 255, 0.1);
  --transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  /* outline: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page {
  font-family: var(--primary-page-font);
  color: var(--primary-text-color);
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: var(--secondary-page-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-header {
  color: var(--black-text-color);
}

.logo-footer {
  color: var(--white-text-color);
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

.social-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.button {
  min-width: 200px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-backgraund-color);
  -webkit-backdrop-filter: blur(5px) grayscale(50%);
          backdrop-filter: blur(5px) grayscale(50%);
  -webkit-transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  -webkit-transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1) 750ms;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1) 750ms;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
  transition: -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.backdrop.is-hidden .modal-window {
  -webkit-transform: translate(-50%, -50%) scale(0) rotateX(-180deg);
          transform: translate(-50%, -50%) scale(0) rotateX(-180deg);
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-background-color);
  cursor: pointer;
  -webkit-transition: all var(--transition-function);
  transition: all var(--transition-function);
}

.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
  border-color: var(--primary-text-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
}

.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.modal-form-field.addition {
  margin-bottom: 20px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input, .modal-form-message {
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-input-border-color);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  -webkit-transition: all var(--transition-function);
  transition: all var(--transition-function);
}

.modal-form-input:focus, .modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message {
  display: block;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
}

.modal-form-message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all var(--transition-function);
  transition: all var(--transition-function);
}

.modal-form-input:focus + .modal-form-icon,
.modal-form-input:hover + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-policy-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.modal-form-policy-text::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  margin-right: 7px;
  -webkit-transition: background-color var(--transition-function), border var(--transition-function);
  transition: background-color var(--transition-function), border var(--transition-function);
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background-color: var(--accent-color);
  border: transparent;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-policy-link {
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.modal-form-btn {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.header {
  padding-top: 14px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--header-border-color);
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  margin-right: 93px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.header .address {
  margin-left: auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation .navigation-list-link {
  position: relative;
  color: var(--secondary-text-color);
}

.navigation-list-link,
.address-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 17px;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color var(--transition-function);
  transition: color var(--transition-function);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-link:hover,
.address-link:focus,
.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -16.9px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address-list-item:not(:last-child) {
  margin-right: 50px;
}

.address-icon {
  fill: currentColor;
  margin-right: 10px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer-contact-section {
  margin-right: 70px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-social-section {
  margin-right: 93px;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer .social-list-link {
  color: var(--white-text-color);
  background-color: var(--footer-icons-color);
  -webkit-transition: background-color var(--transition-function);
  transition: background-color var(--transition-function);
}

.footer .social-list-link:hover, .footer .social-list-link:focus {
  background-color: var(--accent-color);
}

.footer .social-list-icon {
  fill: currentColor;
}

.contact-list {
  width: 231px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-address, .contact-link {
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--footer-text-color);
}

.contact-address {
  color: var(--white-text-color);
}

.subscription-form-field {
  display: block;
}

.subscription-form-input {
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid var(--footer-input-border-color);
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  -webkit-transition: border-color var(--transition-function);
  transition: border-color var(--transition-function);
}

.subscription-form-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.subscription-form-input::-webkit-input-placeholder {
  color: var(--footer-text-color);
}

.subscription-form-input:-ms-input-placeholder {
  color: var(--footer-text-color);
}

.subscription-form-input::-ms-input-placeholder {
  color: var(--footer-text-color);
}

.subscription-form-input::placeholder {
  color: var(--footer-text-color);
}

.subscription-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription-form-btn-icon {
  margin-left: 10px;
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  margin: auto;
  background-color: var(--hero-background-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/bg-img.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.advanteges-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advanteges-list-item {
  width: 270px;
}

.advanteges-icon-wrapper {
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.advanteges-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.advanteges-text {
  min-height: 75px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.product {
  padding-top: 0;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-list-wrapper {
  position: relative;
}

.product-title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: var(--product-background-color);
}

.team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--secondary-background-color);
}

.team-list, .team-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-list-item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team-list-contant-wrapper {
  padding: 30px 32px;
  background-color: var(--primary-background-color);
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

.team-list-posistion {
  margin-bottom: 16px;
}

.team .social-list-link {
  color: var(--icons-color);
  background-color: var(--primary-background-color);
  -webkit-transition: color var(--transition-function), background-color var(--transition-function);
  transition: color var(--transition-function), background-color var(--transition-function);
}

.team .social-list-link:hover, .team .social-list-link:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.team .social-list-icon {
  fill: currentColor;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--icons-color);
  width: 170px;
  height: 90px;
  border: 1px solid;
  border-radius: 4px;
  -webkit-transition: color var(--transition-function);
  transition: color var(--transition-function);
}

.clients-list-link:hover, .clients-list-link:focus {
  color: var(--accent-color);
}

.clients-logo {
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */